/* Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');



/* Frontend Mentor Attribution */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Colors */
:root{
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --mainBg:hsl(217, 54%, 11%);
    --cardBg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
}

/* Utilities */
.mainBg{
    background-color:hsl(217, 54%, 11%) ;
}
.cardBg{
    background-color: hsl(216, 50%, 16%);
}
.line{
    background-color: hsl(215, 32%, 27%);
}
.flex{
    display:flex;
}
.padding{
    padding: 0 1em;
}

/* Styles */

.wrapper{
    font-family: "Outfit", sans-serif;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:  var(--softBlue);
}
.container{
  width:85%;
  border-radius: 1em;
  max-width: 375px;
}
.avatar{
    width: 15%;
}

.img-container{
    position: relative;
    margin: 1em;
    border-radius: 2em;

}
.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 0.5rem;
    background-color:var(--cyan);
    padding: 1em;
}

.img-container:hover .overlay {
    cursor: pointer;
    opacity: 0.5;
}
.headline{
    font-size: 1.5rem;
    color:white;
}
.headline:hover, span:hover{
    color:var(--cyan);
    cursor: pointer;

}
.sub-headline{

    font-weight: 300;
    margin: 1em 0;  
}
.section1{
    justify-content: space-between;
}
.section2{
    gap: 1em;
    align-items: center;
    padding-bottom: 1em;
}
span{
    color:white;
}

.div{
  gap: .2em;
}


